*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    background-color: #358DFC;
    padding: 10px;
}
.title{
    display: flex;
    justify-content: space-between;/* ดัยซ้าย-ขวา*/
    align-items: center;
    padding: 10px;
}
.right{
    display: flex;
    align-items: center;
    gap: 50px;
}
#welcome{
    white-space: nowrap; /*ให้อยู่ในบรรทัดเดียวกัน*/
    font-weight: 500;
    font-size: 20px;
}
#logout{
    background-color: #ec0707;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}
#loading{
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin: 20px;
    font-weight: bold;
    animation: blink 1s infinite;
}
@keyframes blink {
    50% { opacity: 0.3; }
}
#posts div{
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.contentAdd{
    display: block;
}
.contentAdd #title{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contentAdd #body{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contentAdd #addData{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
}
.deButton{
    display: flex;
    justify-content: end;
    gap: 10px;
}
button{
    width: 5%;
    justify-content: center;
    align-items: center;
}
#editButton{
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: #000000;
    background-color: #e9e503;
}
#deleteButton{
    color: #ffffff;
    background-color: #ec0707;
    padding: 5px;
    border: none;
    border-radius: 10px;
}